.features .bi {
    font-size:32px;
    color: lightskyblue;
}

.footer {
    background-color:#000;
    color:#fff;
    position:fixed;
    bottom:0;
    width:100%;
}

.footer a {
    color:aqua;
    text-decoration:none;
}

.footer a:hover{
    color:#fff;
}

nav, .card {
    margin-bottom:25px;
}

.card {
    flex-direction:row;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

img {
    width:100%;
    display:block;
}